body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background:linear-gradient( greenyellow,orange); 
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.menu-item {
    text-align: center;
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {

    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}
.rty a:hover{
    background:linear-gradient(red,green);
}
.fota{
    margin-bottom: 0px;
}